<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>DTC-Twitter Filter</title>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  </head>
  <body>
    <div class="container">

      <div class="row mb-5">
        <div class="col text-center">
          <h1 class="mb-3">
            DTC-Twitter Filter
          </h1>
          <h4 class="mb-2">
            <small class="text-muted">
              Monitoring BBC, CBS, CNN, FoxNews, and nytimes tweets. 
            </small>
          </h4>
        </div>
      </div>

      <div class="col-12">
        <div id="plot"></div>
     </div>
        <script>
          var default_url = "http://127.0.0.1:5000/tweets";
            Plotly.d3.json('/tweets', function(error, data){
                if (error) return console.warn(error);

                // Create the Traces
                var trace1 = {
                  x: data.Tweets_Ago,
                  y: data.Compound,
                  mode: "markers",
                  type: "scatter",
                  name: "Tweets (Hover for details)",
                  text: data.User,
                  textfont : {
                              family:'Times New Roman'
                                },
                  textposition: 'top center',

                  marker: {
                    color: "#2077b4",
                    size: 12,
                    symbol: "circle"
                  }
                };

                // Create the data array for the plot
                var data = [trace1];

                // Define the plot layout
                var layout = {
                  showlegend: true,
                  title: "Sentiment Analysis of Media Tweets",
                  xaxis: { title: "Tweets Ago"},
                  yaxis: { title: "Tweet Polarity",
                           range: [-1, 1]},
                           annotations: [{
    x: 6.75,
    y: 7.25,
    text: 'Vertical',
    textangle: '-55',
    showarrow: false
  }]
                };

                // Plot the chart to a div tag with id "plot"
                Plotly.newPlot("plot", data, layout);
                            })
        </script>
      

      {% for tweet in tweets %}
        <div class="row my-4">
          <div class="col">
            <div class="card {{ 'positive' if tweet.data.compound_score > 0 }} {{ 'negative' if tweet.data.compound_score < 0 }}">
              <div class="card-body">
                <p class="card-text">
                  {{ tweet.filtered_text()|safe }}
                </p>
                <br />
                <div class="card-text">
                  <img alt="{{ tweet.data.username }}" height="48" src="{{ tweet.data.profile_image_url }}" width="48" class="mr-3"/>
                  {{ tweet.data.name }} (<a href="{{ tweet.user_link() }}" target="_blank">{{ tweet.data.username }}</a>)
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

      <div class="text-center mb-4">
        <a class="btn btn-primary" href="/" role="button">Refresh</a>
      </div>


    </div>
  </body>
</html>
